Section "InputClass"
        Identifier "system-keyboard"
        MatchIsKeyboard "on"
        Option "XkbLayout" "us,ru"
        Option "XkbModel" "pc104"
        Option "XkbVariant" "colemak_dh,qwerty"
        Option "XkbOptions" "grp:win_space_toggle,terminate:ctrl_alt_bksp"
EndSection
