Section "InputClass"
        Identifier "libinput keyboard catchall"
        MatchIsKeyboard "on"
        MatchDevicePath "/dev/input/event*"
        Driver "libinput"
        Option "XkbLayout" "us,ru"
        Option "XkbVariant" "colemak,qwerty"
        Option "XkbOptions" "grp:win_space_toggle"
EndSection
